# =========================
# Nexora
# =========================

# Environment variables / secrets
.env
.env.*
!.env.example

# Angular / Node
node_modules/
dist/
.angular/
out-tsc/
coverage/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Java / Maven
target/
*.class
*.jar
*.war

# IDE
.idea/
*.iml

# VS Code
.vscode/

# Operating system
.DS_Store
Thumbs.db

# Logs
*.log

# Temporary files
*.tmp
*.temp